<%= stylesheet_link_tag "main.css" %>
<header>
  <h1 id="page_title">Contact Me</h1>
  <nav class="resume_nav">
    <ul class="main_nav">
      <a href="/"><li>Home</li></a>
      <a href="#about"><li>About</li></a>
      <li>Work</li>
      <a href="/cv"><li>CV</li></a>
      <a href="/contact"><li>Contact</li></a>
    </ul>
  </nav>
</header>
<div class="form_wrap">
  <p><small class="flash_err"><%= flash[:notice] %></small></p>
  <form class="" action="/contact" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="">Email</label>
    <p><input type="text" name="contact[from]"></p>
    <label for="">Subject</label>
    <p><input type="text" name="contact[subject]"></p>
    <label for="">Message</label>
    <p><input type="text" name="contact[message]"></p>
    <p><input type="submit" name="submit" value="Send Message"></p>
  </form>
</div>
